:root {
  --bgPage: #F0F3DA;
  --borderRectangle: #5E5E5E;
  --bgRectangle: #787676;
  --green: #0AFF1A;
  --red: #FF1D1D;
  --noActive: #C3B3B3;
  --box: #01121E;
  --borderButtons: #CAB1B1;
  --bgButtons: #FBF9F9;
  --borderBox: #000000;
  --bgJoystick: #a7a7a7;
  --joystick: #363636;
}

.inder-regular {
  font-family: "Inder", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  background-color: var(--bgPage);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.leftSide{
  width: 25%;
  height: 100%;
  margin-right: 5%;
  display: flex;
  justify-content: center;
  margin-left: 2%;
}

.options{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5%;
  border: 0.2em solid var(--borderRectangle);
  border-radius: 0.4em;
  background-color: var(--bgRectangle);
  width: 65%;
  height: 8%;
}

.showed{
  background-color: var(--noActive);
  width: 43%;
  height: 80%;
  border-radius: 0.6em;
}

.on{ background-color: var(--green); }
.off{ background-color: var(--red); }
.selected { box-shadow: 0 1.4em 0 #6C6565; }
.otherOption{ box-shadow: 0 0.3em 0 #6C6565; }

.rightSide {
  width: 75%;
  height: 88%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #C7CADA; 
  margin-right: 3%;
}

.warning {
  text-align: center;
  font-size: 2rem;
  color: red;
  font-weight: bold;
}

.warning-container {
  width: 80%;
  display: none;
  background-color: #f7e6e6;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

#joystick-container {
  width: 15%;
  height: 30%;
  position: absolute;
  margin-top: 33%;
}

.nipple .back {
  background: var(--bgJoystick) !important;
}

.nipple .front {
  background: var(--joystick) !important;
}

.onlyIfOn{
  width: 100%;
  height: 60%;
  position: absolute;
  margin-top: 6%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box{
  border: 0.18em solid var(--borderBox);
  border-radius: 1.7em;
  width: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.txtBox{
  font-family: "Inder", sans-serif;
  font-size: 1.3em;
  color: var(--box);
  text-align: center;
}

.btnBox{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.humanBtn{
  background-color: var(--bgButtons);
  border: 0.15em solid var(--borderButtons);
  border-radius: 50%;
  width: 10%;
  height: 65%;
  cursor: pointer;
  margin-right: 3%;
}

.humanImage{
  background-image: url(./images/human.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  margin-top: 11%;
}

.robotBtn{
  background-color: var(--bgButtons);
  border: 0.15em solid var(--borderButtons);
  border-radius: 50%;
  width: 10%;
  height: 65%;
  cursor: pointer;
}

.robotImage{
  background-image: url(./images/robot.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 85%;
  height: 84%;
  margin-left: 7.5%;
}